header,main .middle_bnr,main .weekly_best,footer {
    background-color: aqua;
    width: 1300px;
    margin:0 auto;
}
/* aside */
#popup {
    border:1px solid #aaa;
    position:fixed;
    right:0; top:30px;
}
#popup a {}
#popup a img {}
/* header */
header {}
header .header_bg {
    background-color: #CCCCCC;
    height: 36px;
    text-align: center;
}
header .header_bg a {
    line-height: 36px;
    font-weight: 500;
    font-size: 0.833rem;
    letter-spacing: -0.02em;
}
header .header_mid {
    background-color:coral;
    overflow: hidden;
}
header .header_mid h1 {
    float: left;
    text-align: center;
    padding-top:40px;
}
header .header_mid h1 a {}
header .header_mid h1 a img {}
header .header_mid .gnb {
    float: right;
}
header .header_mid .gnb .join {}
header .header_mid .gnb .join a {}
header .header_mid .gnb .join a span {}
header .header_mid .gnb .join a img {}
header .header_mid .gnb .user {}
header .header_mid .gnb .user a {}
header .header_mid .gnb .user a img {}
header .header_mid .gnb a {}
header .header_mid .gnb a img {}
header nav {}
header nav a {}
/* main */
main {}
main a {}
main a img {}
main .middle_bnr {}
main .middle_bnr a {}
main .middle_bnr a img {}
main .weekly_best {}
main .weekly_best h1 {}
main .weekly_best .best_md {}
main .weekly_best .best_md li {}
main .weekly_best .best_md li a {}
main .weekly_best .best_md li a img {}
main .weekly_best .best_md li .md_title {}
main .weekly_best .best_md li .md_title h2 {}
main .weekly_best .best_md li .md_title p {}
main .weekly_best .best_md li .md_title p em {}
main .weekly_best .best_md li .md_title p span {}
main .weekly_best .best_md li .md_detail {}
main .weekly_best .best_md li .md_detail span {}
main .weekly_best .best_md li .etc_box {}
main .weekly_best .best_md li .etc_box span {}
main figure {}
main figure img {}
main figure figcaption {}
main figure figcaption h3 {}
main figure figcaption p {}
main figure figcaption p a {}
/* footer */
footer {}
footer .fnb_t {}
footer .fnb_t a {}
footer address {}