main {
    background-color: rgba(0,0,0,0.8);
    padding:50px;
}
main .box {
    width:200px; height:200px;
    font-size:4rem;
    border:5px dashed #fff;
    border-radius:50%;
    text-align:center;
    line-height:200px;
    /* line-height값과 height값을 동일하게 작성하면 요소가 수직 중앙으로 온다(1행일 경우 가능) */
}
main .a {
    /* padding(안쪽여백) 추가 시 실제 크기에 변화를 주지 않는다. */
    background-color:paleturquoise;
    box-sizing:border-box;
    /* padding-right:50px; */
    /* width:150px; */
}
main .b {
    /* padding-top:30px; */
    box-sizing:border-box;
    /* height:170px; */
    background-color:beige;
    font-size:3rem;
}
main .c {
    /* padding:10px 20px; */
    box-sizing:border-box;
    /* width:160px; */
    /* height:180px; */
    background-color:coral;
}